@import 'src/styles/colors.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

section {
  max-width: 1200px;
  padding: 0 50px;
  text-align: left;
}

.App-home {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-title {
  font-size: 5rem;
}

.home-summary {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.section-title {
  font-size: 4rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 100px;
  padding: 0px 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
